body
{
    background: url(background.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.btn {
    background-color: #00FFFF;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    dispaly: inline-block;
}


.btn:hover { 
          background-color: #FFFFFF;
    
    
}